[submodule "software/DaVinci"]
	path = software/DaVinci
	url = ssh://git@gitlab.cern.ch:7999/lhcb/DaVinci.git
[submodule "software/utils/Alexandria"]
	path = software/utils/Alexandria
	url = ssh://git@gitlab.cern.ch:7999/lhcb/Alexandria.git
